* {
  box-sizing: border-box;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.icons-set span {
  font-family: Montserrat, sans-serif;
}

nav {
  background: #eceef1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

h2{
  color: #4C4C4C;
  line-height: 1.1;
  font-size: 24px;
  padding: 30px 0px;
}

section{
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.header-closure{
  color: #4C4C4C;
  font-size: 14px;
}

.header-closure a{
  font-size: 12px;
}
.container-content {
  display: flex;
  justify-content: center;
  background: #eceef1;
}

.inputs {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.inner {
  width: 380px;
  text-align: center;
  background: #fc8b83;
}


.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"] {
  height: 34px;
  width: 348px;
}

header{
  padding: 20px 0px;
  background: #eceef1
}

header .main-icon{
  padding: 4px 0px;
}

footer {
  text-align: center;
}
