* {
  box-sizing: border-box;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.icons-set span {
  font-family: Montserrat, sans-serif;
}

nav {
  background: lightblue;
  display: flex;
  justify-content: flex-end;
}

.container-content {
  display: flex;
  justify-content: center;
  background: #a1b8ff;
}

.inputs {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.inner {
  width: 348px;
  text-align: center;
  background: #fc8b83;
}

.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"] {
  height: 34px;
  width: 100%;
}

footer {
  text-align: center;
}
